.ui.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.loader-container {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.ui.form {
  width: 70%;
  background: rgb(255, 255, 255);
  padding: 45px;
  border-radius: 15px;
}

.ui.button.primary {
  position: relative;
  left: calc(50% - 45px);
}
