.ui.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.ui.form {
  width: 70%;
  background: rgb(255, 255, 255);
  padding: 45px;
  border-radius: 15px;
}

.ui.button.primary {
  position: relative;
  left: calc(50% - 45px);
}
