::-webkit-scrollbar {
  display: none;
}

html,
body,
#app,
#app > div {
  height: 100%;
}

#root {
  height: 120vh;
  background: rgb(238, 238, 238);
}

.msg-container {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.msg {
  padding: 10%;
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
}

/* @-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.books-outer-container {
  background: rgb(238, 238, 238);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.books-container {
  width: 80%;
  display: grid;
  margin: 0px 100px;
  padding: 70px 0px 100px 0px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  align-content: center;
  align-items: center;
  float: none;
}

.form-container {
  margin-top: 100px !important;
}

.home-card-container {
  width: 100%;
  display: flex;
  z-index: -99;
  justify-content: center;
  /* height: calc(100vh - 170px); */
}

.home-card {
  /* width: 80%; */
  padding: 100px 20px 100px 20px;
  margin: 0px auto 0 auto;
  background: rgb(247, 247, 247);
  z-index: -999;
  border-radius: 5px;
  /* box-shadow: 5px 10px 5px 10px #a1a1a17c; */
}

.home-card img {
  margin: 0px auto;
  display: block;
  width: 55%;
  padding: 30px 0 30px 0;
}

.home-card p {
  font-size: 40px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}

.book {
  text-align: center;
  padding: 10px;
  width: 100%;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.863);
  border-radius: 10px;
  /* border: 3px solid rgb(255, 255, 255); */
}

.book img {
  margin-top: 20px;
}

@media only screen and (max-width: 1320px) {
  .books-container {
    grid-template-columns: 1fr 1fr;
    margin: 0px 15px 0px 0px;
  }
}

@media only screen and (max-width: 798px) {
  .books-container {
    grid-template-columns: 1fr;
    margin: 40px 0px 100px 0px;
  }

  .book img {
    width: 200px;
  }

  .home-card-container {
    /* height: calc(100vh - 110px); */
  }

  .home-card {
    width: 90%;
    margin: 50px auto 0 auto;
  }

  .home-card img {
    margin: 0px auto;
    display: block;
    width: 90%;
    padding: 20px 0 20px 0;
  }

  .home-card p {
    font-size: 25px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
  }
}

/* ANIMATIONS */

.slide-in-elliptic-top-fwd {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-21 20:39:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
